# 配置文件来源设置
profiles-sources:
  # 生成的配置文件的名称。
  - name: 'Public from V9999'
    # 配置文件的来源。
    sources:
      pages:
        - 'https://github.com/Alvin9999/new-pac/wiki/ss%E5%85%8D%E8%B4%B9%E8%B4%A6%E5%8F%B7'
        - 'https://github.com/Alvin9999/new-pac/wiki/v2ray%E5%85%8D%E8%B4%B9%E8%B4%A6%E5%8F%B7'


  # - name: 'Public from FQD'
  #   sources:
  #     tg-channels:
  #       - 'ssList'
  #       - 'ssrList'
  #       - 'V2List'

  # - name: 'Public from DU5'
  #  sources:
  #     files:
  #       - 'https://raw.githubusercontent.com/du5/free/master/sub.list'

  # - name: 'Public from oneClash'
  #   sources:
  #     subscribe-links:
  #       - 'https://oneclash.cc/wp-content/uploads/$(date{%Y/%m/%Y%m%d}).yaml'

# Sub Converter 设置。详见 https://github.com/tindy2013/subconverter/blob/master/README-cn.md。
sub-converter:
  # 想要生成的配置类型。详见 https://github.com/tindy2013/subconverter/blob/master/README-cn.md#%E6%94%AF%E6%8C%81%E7%B1%BB%E5%9E%8B。
  target: 'clash'
  # 外部配置的地址 (包含分组和规则部分)，该配置需存在于下方的 source 中，当此参数不存在时使用程序的主程序目录中的配置文件。详见 https://github.com/tindy2013/subconverter/blob/master/README-cn.md#%E5%A4%96%E9%83%A8%E9%85%8D%E7%BD%AE。
  config: ''
  # ！！！下方对于 Emoji 的设置请勿随意更改，日后可能会使用其他方法更改节点名称！！！
  # 用于设置节点名称是否包含 Emoji。
  emoji: 'true'
  # 用于在节点名称前加入 Emoji。
  add_emoji: 'false'
  # 用于设置是否删除节点名称中原有的 Emoji。
  remove_emoji: 'true'
  # 用于开启该订阅链接的 TCP Fast Open。
  scv: 'true'

# 配置文件的相关设置
profile:
  clash:
    not-supported-ciphers:
      - 'rc4'
    correct-plugin-opts-mode:
      - plugin: 'obfs'
        match: ''
        mode: 'tls'
      - plugin: 'v2ray-plugin'
        match: ''
        mode: 'websocket'

# 其他设置
others:
  # 关于文件夹的设置。
  directories:
    # 保存分享链接文件的文件夹位置。
    shared-links-stored-dir: './links'
    # 保存配置文件的文件夹位置。
    profiles-stored-dir: '../Profiles'
    # 临时保存文件的文件夹位置。
    temp-file-stored-dir: './temp'
  # 受支持的链接的开头的正则表达式。
  supported-shared-link-begin-with: 'ss://.*|ssr://.*|vmess://.*|vless://.*|trojan://.*'
  supported-subscribe-link-begin-with: 'http://.*|https://.*'
  not-supported-yaml-tags:
    - 'str'
