name: Update Profiles on Windows

on:
  workflow_dispatch:

jobs:
  update-profiles:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Python dependencies
        uses: py-actions/py-dependency-install@v3
        with:
          path: "auto_getter/requirements.txt"
          update-pip: "true"
          update-setuptools: "true"
          update-wheel: "true"

      - name: Run Scripts
        run: |
          pip3 install beautifulsoup4
          pwsh ./run.ps1

      - name: Add Commit
        run: |
          Set-TimeZone -Id "China Standard Time"
          $china_date = date +%Y-%m-%d" "%H:%M:%S
          $message = "更新（代理配置）: \`${china_date}\` 更新。"
          git config --global user.email "<>"
          git config --global user.name "GitHub Actions Bot"
          git add .

      - name: Push Changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.ACCESS_TOKEN  }}
